 h1
{
    color:white;
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}
body
{
    background-color:black;
    color:gray;
}
header, main, nav, footer
{
    text-align:center;
}
nav a
{
    padding: 15px;
    padding-bottom:4px;
    font-size: 1.8em;
    color: white;
}
nav a:hover
{
    border-bottom:2px orange solid;
    font-size:2em;
    transition: .9s;
}
table
{
    margin: 0px auto;
}
td
{
    padding-right: 10px;
    font-size:1.3em;
}
td string
{
    color: orange;
}
 
#table-header
{
    background-color: #351a00;
}
.table-row
{
    background-color: #753900;
}
.hobby
{
    color: yellow;
}
ul
{
    text-align: left;
    padding-left: 200px;
}
figure img
{
    border-radius: 42px;
}
#me
{
    float: left;
}
#welcomeText
{
    float: left;
    text-align: left;
}
footer
{
    text-align: center;
    clear: both;
    font-size:.8em;
    padding-top: 10px;
}
footer img
{
    clear: both;
    display: block;
    margin: 0px auto;
    
}
iframe
{
    display: block;
    margin: 0px auto;
}

#current
{
    color:red;
}
